:root {
    --strong-cyan: #26C0AB;
    --very-dark-cyan: #00494D;
    --dark-grayish-cyan: #5E7A7D;
    --grayish-cyan: #7F9C9F;
    --light-grayish-cyan: #C5E4E7;
    --very-light-grayish-cyan: #f4FAFA;
    --white: #FFFFFF;
}

* {
    font-family: 'Space Mono', monospace;
}

body {
    background-color: var(--light-grayish-cyan);
}

main {
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1024px;
    padding: 30px;
}

input {
    font-size: 24px;
}

.attribution {
    bottom: 0;
    padding: 20px;
    position: fixed;
    width: 100vw;
}