:root {
    --dark-grayish-cyan: #5E7A7D;
    --grayish-cyan: #7F9C9F;
    --light-grayish-cyan: #C5E4E7;
    --strong-cyan: #26C0AB;
    --very-dark-cyan: #00494D;
    --very-light-grayish-cyan: #F4FAFA;
    --white: #FFFFFF;
}

* {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

header {
    margin: 50px auto;
}

body {
    align-items: center;
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin: 0 auto;
}

main {
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
    height: auto;
}

.attribution {
    bottom: 0;
    display: inline;
    font-size: 11px;
    height: auto;
    margin-top: 11%;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
    width: 90vw;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution a:hover {
    color: var(--dark-grayish-cyan);
}