:root {
    --very-dark-cyan: #00494D;
    --dark-grayish-cyan: #5E7A7D;
    --grayish-cyan: #7F9C9F;
    --light-grayish-cyan: #C5E4E7;
    --very-light-grayish-cyan: #f4FAFA;
    --white: #FFFFFF;
}