.section {
    background-color: var(--very-dark-cyan);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 45px;
    width: 35%;
}

div {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.section__title {
    color: var(--white);
}

.section span {
    color: var(--dark-grayish-cyan);
}

.section__result {
    color: var(--strong-cyan);
    font-size: 42px;
}

.section__button {
    background-color: var(--strong-cyan);
    border: none;
    border-radius: 5px;
    color: var(--very-dark-cyan);
    font-size: 24px;
    outline: none;
    line-height: 2em;
    margin-top: 100px;
}

.section__button:hover {
    background-color: var(--light-grayish-cyan);
    cursor: pointer;
}