.form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 48%;
}

.form-select-tip {
    background-color: var(--very-dark-cyan);
    display: block;
    color: var(--white);
    border: none;
    border-radius: 5px;
    line-height: 40px;
    width: 115px;
}

.form-select-tip:hover {
    background-color: #9DE6E0;
    color: var(--very-dark-cyan);
    cursor: pointer;
}

.form-select-tip-custom {
    background-color: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    border: none;
    border-radius: 5px;
    display: block;
    outline: none;
    text-align: center;
    line-height: 40px;
    width: 111px;
}

.form-select-tip-custom:focus {
    outline: 2px solid var(--strong-cyan);
    text-align: end;
}

.form-select-tip-custom::placeholder {
    color: var(--dark-grayish-cyan);
    text-align: center;
}

.form-select-tip-div, input[type="text"] {
    padding: 0;
}

.form-select-tip-div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}
