.form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    width: 44%;
    height: 405px;
}

.form__div {
    align-items: start;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: start;
    margin: 0;
}

.form__label {
    color: var(--dark-grayish-cyan);
    margin-bottom: 10px;
}

.form__label--warning {
    margin-left: 90px;
    color: red;
}

.form__input {
    box-sizing: border-box;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    outline-color: var(--strong-cyan);
    width: 98%;
}

.form__input--dollar {
    background-image: url('/assets/images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
}

.form__input--person {
    background-image: url('/assets/images/icon-person.svg');
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
}

.form__input--dollar::-webkit-outer-spin-button,
.form__input--dollar::-webkit-inner-spin-button,
.form__input--person::-webkit-outer-spin-button,
.form__input--person::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__input--dollar, .form__input--person {
    background-color: #F4FAFA;
    color: var(--very-dark-cyan);
    line-height: 2em;
    padding: 0px 15px;
    text-align: right;
}

.form__input--dollar::placeholder, .form__input--person::placeholder {
    color: var(--grayish-cyan);
}

.form__input--warning {
    border: 2px solid red;
}

.form__div--select-tip {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-around;
}

.form__input--tip {
    background-color: var(--very-dark-cyan);
    border: none;
    border-radius: 5px;
    color: var(--white);
    display: block;
    line-height: 1.7rem;
    padding: 10px;
}

.form__input--tip:hover {
    background-color: #9DE6E0;
    color: var(--very-dark-cyan);
    cursor: pointer;
    padding: 10px;
}

.form__input--custom-tip {
    background-color: var(--very-light-grayish-cyan);
    border: none;
    border-radius: 5px;
    color: var(--very-dark-cyan);
    display: block;
    line-height: 2.45rem;
    outline: none;
    padding: 4px;
    text-align: center;
}

.form__input--custom-tip:hover {
    cursor: pointer;
}

.form__input--custom-tip:focus {
    outline: 2px solid var(--strong-cyan);
    text-align: end;
    line-height: 24px;
    padding: 4px;
}

.form__input--custom-tip::placeholder {
    color: var(--dark-grayish-cyan);
    text-align: center;
}

.form__input--tip, .form__input--custom-tip {
    width: calc(100% / 3.25);
}